body {
  margin: 0;
}

.nav--container {
  margin: 0;
  width: 100%;
  color: white;
  font-weight: 700;
  padding: 5px 20px;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.nav--container > img {
  width: 150px;
}